body {
  background-color: antiquewhite;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-weight: 600;
}

#header2 {
  background-color: rgb(0, 0, 104);
  padding: 3px;
  margin: 5px;
  color: goldenrod;
  font-family: 'Sansita Swashed', cursive;
}

#link {
  margin-top: 25px;
  margin-left: 5px;
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: goldenrod;
}

fieldset {
  padding: 15px;
}

img:first-of-type {
  float: right;
  margin-left: 5%;
  max-width: 35%;
}

article > img {
  float: right;
  min-width: 50%;
}

ul > img {
  min-width: 50%;
}

figure > img {
  width: auto;
  float: right;
}

figure > img:first-child {
  margin-right: 10px;
  float: left;
  width: 1000px;
}

figure > img:last-child {
  margin-right: 10px;
}
figure > img:nth-child(2) {
  margin-right: 10px;
}

header>div {
  font-family: 'Sansita Swashed', cursive;
  background-color: rgb(0, 0, 104);
  padding: 5%;
  color: goldenrod;
  font-size: 125%;
}

header > img {
  float: right;
}

#salesLink {
  font-size: 22px;
}

table, td, th {
  border: 1px solid black;
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: lightgoldenrodyellow;
}

th {
  padding: 5px;
  color: navy
}

td {
  padding: 2px;
  color: navy;
  font-weight: 700;
}

#second-table > th {
  font-size: 12em;
}


