body {
  background-color: salmon;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: seashell;
  padding-top: .5%;
  padding-left: 1.5%;
  padding-bottom: .5%;
}
header > figure {
  float: right;
}

div {
  margin: auto;
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  height: 100px;
  background-color: seashell;
}

#seattleHomepage {
  background-image: url(https://media.gettyimages.com/photos/panoramic-skyline-of-seattle-in-washington-state-united-states-picture-id1151457784?s=170667a);
  min-width: fit-content;
}

#salesLink {
  text-align: center;
}
table, td, th {
  border: 1px solid black;
};

#tfooter {
  width: 100%;
  border: 10px white;
};

section {
  text-align: center;
}
